@import '../index.scss'; 

nav {
  margin-right: 30px; 
  padding: 20px; 
}

ul {
  display: flex; 
}

li {
  list-style: none; 
  cursor: pointer;
  color: $off-white; 
  font-family: Helvetica, sans-serif;  
  font-size: 2rem; 
  font-weight: 400; 
  padding: 15px; 
}
